.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background: no-repeat center url(../image/hamburger.png);
    display: inline-block;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-width: 350px;
    margin: 0 auto;
}

.container {
    display: flex;
    align-items: center;
    z-index: 3;
}

.contaier__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 250px;
    background: var(--texto-trans);
    list-style-type: none;
}

.container__botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    font-family: var(--font-principal);
}

.lista-menu__titulo {
    color: var(--texto-principal);
    font-weight: 700;
}

.lista-menu__link {
    color: var(--texto-normal);
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
}
.lista-menu__link:hover {
    color: var(--cor-de-fundo);
}
.icon {
    padding-right: 10px;
}

.decolar {
    width: 25%;
    padding-left: 20px;
}

.container__botao {
    display: none;
}

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

@media screen and (min-width: 1024px) {
    .cabecalho {
        max-width: 984px;
        margin: 0 auto;
    }
    .remove {
        display: none;
    }

    .decolar {
        width: 8%;
    }

    .container__titulo {
        display: block;
        font-family: var(--font-secundaria);
        font-size: 30px;
        font-weight: 400;
    }

    .opcoes {
        display: flex;
        margin-right: 3em;
    }

    .opcoes__item {
        list-style-type: none;
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--texto-normal);
        display: flex;
    }
    .opcoes__link:hover {
        color: var(--texto-link);
    }
}


@media screen and (min-width: 1728px) {
    .cabecalho {
        max-width: 1688px;
        margin: 0 auto;
    }
}